# Código de Importación a BigQuery:

## Primer paso: Crear Token de importación en BigQuery y Kaggle

## Segundo paso: Importación de Librerías y Bases de Datos

Como librerías bases se utilizan pandas y matploblib, además de una librería propia para instalar directamente las bases de datos desde la API de kaggle. Se adjuntará dentro de los recursos el código de la función.

In [14]:
import pandas as pd
import matplotlib.pyplot as plt
import sys
sys.path.append('C:\\Users\\diego\\OneDrive\\Escritorio\\DataScience Projects\\Mi_Libreria_Funciones')
from funciones_propias import importacion_kaggle

Se importa las bases de datos desde el perfil de Jack Daoud (Marketing Analytics)

In [17]:
importacion_kaggle(url_dataset='jackdaoud/marketing-data')

Dataset URL: https://www.kaggle.com/datasets/jackdaoud/marketing-data
Descarga completada.

In [19]:
marketing_data=pd.read_csv('ifood_df.csv')
marketing_data.head()

,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,...,marital_Together,marital_Widow,education_2n Cycle,education_Basic,education_Graduation,education_Master,education_PhD,MntTotal,MntRegularProds,AcceptedCmpOverall
0,58138.0,0,0,58,635,88,546,172,88,88,...,0,0,0,0,1,0,0,1529,1441,0
1,46344.0,1,1,38,11,1,6,2,1,6,...,0,0,0,0,1,0,0,21,15,0
2,71613.0,0,0,26,426,49,127,111,21,42,...,1,0,0,0,1,0,0,734,692,0
3,26646.0,1,0,26,11,4,20,10,3,5,...,1,0,0,0,1,0,0,48,43,0
4,58293.0,1,0,94,173,43,118,46,27,15,...,0,0,0,0,0,0,1,407,392,0

In [20]:
marketing_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2205 entries, 0 to 2204
Data columns (total 39 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Income                2205 non-null   float64
 1   Kidhome               2205 non-null   int64
 2   Teenhome              2205 non-null   int64
 3   Recency               2205 non-null   int64
 4   MntWines              2205 non-null   int64
 5   MntFruits             2205 non-null   int64
 6   MntMeatProducts       2205 non-null   int64
 7   MntFishProducts       2205 non-null   int64
 8   MntSweetProducts      2205 non-null   int64
 9   MntGoldProds          2205 non-null   int64
 10  NumDealsPurchases     2205 non-null   int64
 11  NumWebPurchases       2205 non-null   int64
 12  NumCatalogPurchases   2205 non-null   int64
 13  NumStorePurchases     2205 non-null   int64
 14  NumWebVisitsMonth     2205 non-null   int64
 15  AcceptedCmp3          2205 non-null   int64
 16  AcceptedCmp4          2205 non-null   int64
 17  AcceptedCmp5          2205 non-null   int64
 18  AcceptedCmp1          2205 non-null   int64
 19  AcceptedCmp2          2205 non-null   int64
 20  Complain              2205 non-null   int64
 21  Z_CostContact         2205 non-null   int64
 22  Z_Revenue             2205 non-null   int64
 23  Response              2205 non-null   int64
 24  Age                   2205 non-null   int64
 25  Customer_Days         2205 non-null   int64
 26  marital_Divorced      2205 non-null   int64
 27  marital_Married       2205 non-null   int64
 28  marital_Single        2205 non-null   int64
 29  marital_Together      2205 non-null   int64
 30  marital_Widow         2205 non-null   int64
 31  education_2n Cycle    2205 non-null   int64
 32  education_Basic       2205 non-null   int64
 33  education_Graduation  2205 non-null   int64
 34  education_Master      2205 non-null   int64
 35  education_PhD         2205 non-null   int64
 36  MntTotal              2205 non-null   int64
 37  MntRegularProds       2205 non-null   int64
 38  AcceptedCmpOverall    2205 non-null   int64
dtypes: float64(1), int64(38)
memory usage: 672.0 KB

![Diccionario de Variables](dictionary.png)

## Tercer paso: Exportación a BigQuery

In [ ]:
# Nombre tabla, utiliza un dataset que está creado en tu proyecto
table_upload = "data_project.data_set.data_base"


# Modificar los nombres de las columnas, modificando todos los caracteres especiales y espacios por "_"
tabla_rename.rename({"columna 1":"columna_1",
                     "columna 2-3´4":"columna_2_3_4"},
                    axis='columns',inplace=True)

# Esquema de la tabla

table_schema = [
    bigquery.SchemaField('columna_1','STRING'),
    bigquery.SchemaField('columna_2_3_4','INTEGER'),
    bigquery.SchemaField('columna_5','FLOAT'),
]

# Trabajo de carga
job_config = bigquery.LoadJobConfig(
    schema=table_schema,
    write_disposition=bigquery.WriteDisposition.WRITE_TRUNCATE,) #Reemplazar la tabla

In [ ]:
#Carga

load_job = client.load_table_from_dataframe(
    tabla_rename, table_upload, job_config=job_config
)

load_job.result() # Espera que la carga termine
destination_table = client.get_table(table_upload)
print("Loaded {} rows.".format(destination_table.num_rows))